@import "themes/catppuccin/mocha.css";

* {
  background-color: @transparent;
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}


#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces,
#custom-power,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  margin: 0 2px;
  background-color: @base;
  border-radius: 8px;
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

